extends layout

block content
  div.h2
    h2 About Me

  div#aboutContent
    div.profile
      img(src='/images/davis.jpg', class='profile_photo')
      p.bio.
        I'm <a href='http://www.linkedin.com/in/daviskoh' target='_blank'><span class='name'>Davis Koh</span></a>, Full-Stack Web Developer & recent graduate of General Assembly's Web Development Immersive Program. I studied building Web Apps with Ruby on Rails, Backbone.js, Postgresql, and more using Agile Methodology.
        <br></br>
          In my spare time I like exploring other technologies, taking photos (digital), working out and supporting the Knicks & Manchester United sports teams. I am also a HUGE foodie. Check out my
            <a href='http://www.yelp.com/user_details?userid=2_wDWEEtx76Lr1B4oVzDdA' target='_blank'>yelp</a>
          page!

    h3 Specialties
    div.skills
      div.image_container
        img(src='/images/ruby.png', class='icon')
      div.image_container
        img(src='/images/js.png', class='icon')
      div.image_container
        img(src='/images/rails.png', class='icon')
      div.image_container
        img(src='/images/backbone.jpg', class='icon')
      div.image_container
        img(src='/images/jquery.jpg', class='icon')

      div.image_container
        img(src='/images/sql.png', class='icon')
      div.image_container
        img(src='/images/postgres.png', class='icon')
      div.image_container
        img(src='/images/git.png', class='icon')
      div.image_container
        img(src='/images/html.png', class='icon')
      div.image_container
        img(src='/images/sass.png', class='icon')