<% layout('layout') -%>

<h2>About Me</h2>

<div id="aboutContent" style="display: block;">
  <img src="http://i43.tinypic.com/29fb6om.jpg" alt="" class='profile_photo'>
  <p class='bio'>
    Hi! I'm Davis Koh, Full-Stack Web Developer & recent graduate of General Assembly's Web Development Immserive Program. I studied building Web Apps with Ruby on Rails, Backbone.js, Postgresql, and more using Agile Methodology.
    <br><br>
    On my free time I like exploring other technologies, taking photos (digital), working out and supporting the Knicks & Manchester United sports teams.
    <br><br>
    Feel free to explore my site!
  </p>

  <h3>Specialties</h3>
  <div class='skills'>
    <img src="http://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" alt="" class='icon'>
    <img src="http://file.mrbool.com/mrbool/articles/MuhammadAzamuddin/BackBoneEvents/BackBoneEvents01.png" alt="" class='icon'>
    <img src="https://github-camo.global.ssl.fastly.net/233e6dc4e0b7db13dea0ee1164c9eaac875269db/687474703a2f2f636c2e6c792f31493233336a316c3258336333313143314331482f4769742d4c6f676f2d32436f6c6f722e706e67" class='icon' alt="">
    <img src="http://clipartist.info/RSS/openclipart.org/2011/May/12-Thursday/postgresql_logo-555px.png" class='icon' alt="">
    <img src="http://www.w3.org/html/logo/downloads/HTML5_Logo_256.png" class='icon' alt="">
    <img src="http://www.optimum7.com/internet-marketing/wp-content/uploads/2013/04/CSS3.png" class='icon2' alt="">
  </div>
</div>