extends layout

block content
  div.h2
    h2 About Me

  div#aboutContent
    div.profile
      img(src='/images/davis.jpg', class='profile_photo')
      p.bio.
        I'm <a href='http://www.linkedin.com/in/daviskoh' target='_blank'><span class='name'>Davis Koh</span></a>, currently a software engineer at <a href='https://www.crowdsurge.com/' target='_blank'>CrowdSurge</a>. I've worked on a campaign for Ricky Martin and software I've written has been integral in building campaigns for Eric Church, Beats by Dre w/ Afrojack and more.
        <br></br>
          I like exploring new technologies (trying to learn Go, Mongo & Redis), taking photos (digital), working out and supporting the Knicks & Manchester United sports teams. I am also a HUGE foodie. Check out my
            <a href='http://www.yelp.com/user_details?userid=2_wDWEEtx76Lr1B4oVzDdA' target='_blank'>yelp</a>
          page!

    h3 Specialties
    div.skills
      div.image_container
        img(src='/images/rails.png', class='icon')
      div.image_container
        img(src='/images/angular.png', class='icon')
      div.image_container
        img(src='/images/node.png', class='icon')
      div.image_container
        img(src='/images/backbone.jpg', class='icon')
      div.image_container
        img(src='/images/yo.png', class='icon')
      div.image_container
        img(src='/images/bower.png', class='icon')

      div.image_container
        img(src='/images/grunt.png', class='icon')
      div.image_container
        img(src='/images/jquery.jpg', class='icon')
      div.image_container
        img(src='/images/postgres.png', class='icon')
      div.image_container
        img(src='/images/sass.png', class='icon')