<% layout('layout') -%>

<div class='h2'><h2>About Me</h2></div>

<div id="aboutContent" style="display: block;">
  <div class="profile">
    <img src="http://i43.tinypic.com/29fb6om.jpg" alt="" class='profile_photo'>
    <p class='bio'>
      I'm <span class='name'>Davis Koh</span>, Full-Stack Web Developer & recent graduate of General Assembly's Web Development Immersive Program. I studied building Web Apps with Ruby on Rails, Backbone.js, Postgresql, and more using Agile Methodology.
      <br><br>
      On my free time I like exploring other technologies, taking photos (digital), working out and supporting the Knicks & Manchester United sports teams. I am also a HUGE foodie. Check out my yelp page!
      <br><br>
      Feel free to explore my site!
    </p>
  </div>

  <h3>Specialties</h3>
  <div class='skills'>
    <div class='image_container'><img src="/images/ruby.png" alt="" class="icon"></div>
    <div class='image_container'><img src="/images/js.png" alt="" class="icon"></div>
    <div class='image_container'><img src="/images/rails.png" alt="" class='icon'></div>
    <div class='image_container'><img src="/images/backbone.jpg" alt="" class='icon'></div>
    <div class='image_container'><img src="/images/jquery.jpg" class='icon' alt=""></div>

    <div class='image_container'><img src="/images/sql.png" alt="" class="icon"></div>
    <div class='image_container'><img src="/images/postgres.png" class='icon' alt=""></div>
    <div class='image_container'><img src="/images/git.png" class='icon' alt=""></div>
    <div class='image_container'><img src="/images/html.png" class='icon' alt=""></div>
    <div class='image_container'><img src="/images/sass.png" class='icon' alt=""></div>
  </div>
</div>