<% layout('layout') -%>

<div id="contactContent" style="display: block;">
  <h2>Contact Me</h2>
  <ul class="info-list">  
    <li class='contact_info'>
      <img src="http://s30.postimg.org/6g8vfbhb1/webicon_mail.png" alt="" class='contact_icon'>
      <a class='contact_link' href="#">
        koh.davis.0@gmail.com
      </a>
    </li>
    <li class='contact_info'>
      <img src="http://s14.postimg.org/b8ltoy7st/webicon_github.png" alt="" class="contact_icon">
      <a class='contact_link' href="https://github.com/daviskoh" target="_blank">
        github.com/daviskoh
      </a>
    </li>
    <li class='contact_info'>
      <img src="http://s13.postimg.org/492psegxf/webicon_linkedin.png" alt="" class="contact_icon">
      <a class='contact_link' href="https://linkedin.com/in/daviskoh" target="_blank">
        linkedin.com/in/daviskoh
      </a>
    </li>
    <li class='contact_info'>
      <img src="http://s28.postimg.org/4x2wwqh55/webicon_twitter.png" alt="" class="contact_icon">
      <a class='contact_link' href="https://twitter.com/daviskoh" target="_blank">
        twitter.com/daviskoh
      </a>
    </li> 
  </ul>
</div>