<% layout('layout') -%>

<div id="contactContent" style="display: block;">
  <h2>Contact Me</h2>
  <ul class="info-list">  
    <li class='contact_info'>
        <span class="name">Email</span>
        <span class="info link">koh.davis.0@gmail.com</span>        
    </li>
    <li class='contact_info'>
      <span class="name">Github</span>
      <a href="https://github.com/daviskoh" target="_blank">
        <span class="info link">github.com/daviskoh</span>
      </a>
    </li>
    <li class='contact_info'>
      <span class="name">LinkedIn</span>
      <a href="https://linkedin.com/in/daviskoh" target="_blank">
        <span class="info link">linkedin.com/in/daviskoh</span>
      </a>
    </li>
    <li class='contact_info'>
      <span class="name">Twitter</span>
      <a href="https://twitter.com/daviskoh" target="_blank">
        <span class="info link">twitter.com/daviskoh</span>
      </a>
    </li> 
  </ul>
</div>