extends layout

block content
  div.h2
    h2 Contact me

  div#contactContent
    ul.info-list
      li.contact_info
        img(src='/images/gmail.png', class='contact_icon')
        a(href='mailto:koh.davis.0@gmail.com', target='_top', class='contact_link') koh.davis.0@gmail.com
      li.contact_info
        img(src='/images/github.png', class='contact_icon')
        a(href='https://github.com/daviskoh', target='_blank', class='contact_link') github.com/daviskoh
      li.contact_info
        img(src='/images/linkedin.png', class='contact_icon')
        a(href='https://linkedin.com/in/daviskoh', target='_blank', class='contact_link') linkedin.com/in/daviskoh
      li.contact_info
        img(src='/images/twitter.png', class='contact_icon')
        a(href='https://twitter.com/daviskoh', target='_blank', class='contact_link') twitter.com/daviskoh
