<% layout('layout') -%>

<div id="contactContent" style="display: block;">
  <h2>Contact Me</h2>
  <ul class="info-list">  
    <li class='contact_info'>
        <span class="name">Email</span>
        <span class="info link">koh.davis.0@gmail.com</span>        
    </li>
    <li class='contact_info'>
        <span class="name">Github</span>
        <span class="info link">github.com/daviskoh</span>
    </li>
    <li class='contact_info'>
        <span class="name">LinkedIn</span>
        <span class="info link">linkedin.com/in/daviskoh</span>
    </li>
    <li class='contact_info'>
        <span class="name">Twitter</span>
        <span class="info link">twitter.com/daviskoh</span>
    </li> 
    </ul>
</div>