<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>daviskoh.dk</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>


  <%- body %>

  <script type='text/javascript' scr='/javascripts/main.js'></script>
  <script type='text/javascript' scr='javascripts/main.js'></script>
  <script type='text/javascript' scr='/main.js'></script>
  <script type='text/javascript' scr='main.js'></script>
</body>
</html>