<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>daviskoh.dk</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47262736-1', 'daviskoh.dk');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <h1 class='title'><%= name %></h1>

  <div class="nav">
    <div class="container">
      <a href='about'><div id="about" class="button1 line start">
        About
      </div></a>
      <a href='portfolio'><div id="portfolio" class="button1 line mid">
        Portfolio 
      </div></a>
      <!-- <a href='resume'><div id="resume" class="button1 line mid">
        Resume
      </div></a> -->
      <a href='contact'><div id="contact" class="button1 line end">
        Contacts 
      </div></a>
    </div>
  </div>

  <div id="content" class="content">
    <%- body %>
  </div>  

  <footer>
    Built with Node.js, ExpressJS, EJS & SASS
  </footer>

  <script type='text/javascript' scr='/javascripts/main.js'></script>
  <script type='text/javascript' scr='javascripts/main.js'></script>
  <script type='text/javascript' scr='/main.js'></script>
  <script type='text/javascript' scr='main.js'></script>
  <script>
    setInterval(function() {
      console.log('changing slide');
  }, 3000)
  </script>
</body>
</html>