doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='description', content="Portfolio site of Davis Koh, Full Stack Web Developer & recent grad of General Assemb.ly's WDI program. Specialty in Ruby & JavaScript agile development.")
    meta(name='author', content='Davis Koh')
    
    title Davis Koh Full Stack Web Developer
    
    link(rel="stylesheet", href="/stylesheets/style.css")
    block stylesheets
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47262736-1', 'daviskoh.dk');
      ga('send', 'pageview');

  body    
    div.nav
      div.container
        a(href='about')
          div#about.button1.line.start About
        a(href='portfolio')
          div#portfolio.button1.line.mid Portfolio
        a(href='contact')
          div#contact.button1.line.end Contact

    block content

    footer Hand built with Node.js, ExpressJS, Jade & Sass
    
    script(src='/javascripts/jquery.js', type="text/javascript")
    block scripts