/* #fonts *******************************************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Bubblegum+Sans);
@import url(http://fonts.googleapis.com/css?family=Berkshire+Swash);

/* #variables ***************************************************/

$primary-color: lighten(#00628B, 10%);

/* #mixins ******************************************************/
@mixin box-shadow {
  -moz-box-shadow: 1px 1px 3px 2px #8c8c8c;
  -webkit-box-shadow: 1px 1px 5px 3px #8c8c8c;
  box-shadow: 1px 1px 3px 3px #8c8c8c;
}

/*#CSS *********************************************************/

// #Layout Page //////////////////////////////////////////////////

body {
  font-family: 'Oswald', sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  background: #E6E6DC;
  overflow-x: hidden;
}

div.container {
  position: relative;
  display: inline-block;
  // float: none;
  width: 100%;
  text-align: center;
  margin-bottom: 2.5%;
}

div.button1 {
  display: inline-block;
  position: relative;
  color: #ffffff;
  text-shadow: 0px -2px #003e58;
  padding: 5px 13%;
  font-size: 28px;
  // width: 30.04%;
  text-align: center;
  background: $primary-color;
  box-shadow: 0 2px 10px rgba(1, 1, 1, 0.25);
  border: solid 1px #003e58;
  border-bottom: solid 10px darken($primary-color, 10%);
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  transition:top 0.1s, border-bottom 0.1s, box-shadow 0.1s;

  &:hover {
    top: 4px;
    border-bottom: solid 6px #003e58;
    box-shadow: 0 1px 10px rgba(1, 1, 1, 0.25);
    
    transition:top 0.1s, border-bottom 0.1s, box-shadow 0.1s; 
  }
  &:active {
    top: 9px;
    border-bottom: solid 1px #003e58;
    box-shadow: 0 0px 0px rgba(1, 1, 1, 0.25);
    
    transition:top 0.1s, border-bottom 0.1s, box-shadow 0.1s; 
  }
}

div.line {
  display: inline;
}

a {
  text-decoration: none;
  color: lighten($primary-color, 10%);
}

h2 {
  clear: both;
  text-align: center;
  height: 35px;
  width: 99.59%;
  line-height: 35px;
  background-color: $primary-color;
  color: white;
  border-bottom: 1px solid silver;
  border-radius: 6px 6px 0 0;
  padding-left: 5px;
  margin: 0;
  margin-bottom: 0px;
  /*font-size: 21px;*/
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;
}

h3 {
  clear: both;
  margin-top: 1%;
  text-align: center;
  font-size: 1.4em;
}

footer {
  clear: both;
  margin-top: 1%;
  height: 40px;
  text-align: center;
  font-style: italic;
}

/////////////////////////////////////////////////////////////////

// #About Page ///////////////////////////////////////////////////

div#aboutContent {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: justify;
  text-justify: inter-word; 

  -moz-box-shadow: 0 0 5px 5px #888 inset;
  -webkit-box-shadow: 0 0 5px 5px#888 inset;
  box-shadow: 0 0 5px 5px #888 inset;
  padding: 20px;
  min-height: 500px;

  & div.profile {
    margin-top: 3%;

    & img.profile_photo {
      width: 17.5%;
      margin-left: 1.5%;
      border-radius: 50%;
      @include box-shadow;
    }
  }
}

p.bio {
  float: right;
  width: 75%;
  font-size: 1.1em;
  margin-top: 3%;
  margin-bottom: 0;

  & span.name {
    font-family: 'Berkshire Swash';
    font-size: 1.2em;
  }
}

div.skills {
  clear: both;
  border: 2px solid black;
  width: 100%;
  // height: 50%;
  min-height: 340px;
  margin: auto;
  border-radius: 10px;
  display: inline-block;
  position: relative;

  & div.image_container {
    float: left;
    background-color: #E6E6DC; 
    padding: 0px;
    width: 11%;
    /*height: 120px;*/
    height: 8em;
    
    margin-right: 4.5%;
    margin-left: 4.5%;
    margin-top: 2%;
    @include box-shadow;
    border-radius: 10px;

    & img.icon {
      /*position: relative;*/
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
}

///////////////////////////////////////////////////////////////////////

// #Contact Page //////////////////////////////////////////////////////

ul.info-list {
  font-family: 'Open Sans',sans-serif;
  margin: 0;
  // width: 100%;
  height: 500px;
  border: 2px solid grey;
  border-style: inset;
  -moz-box-shadow: 0 0 5px 5px #888 inset;
  -webkit-box-shadow: 0 0 5px 5px#888 inset;
  box-shadow: 0 0 5px 5px #888 inset;

  & li.contact_info {
    list-style: none;
    font-size: 2em;
    margin-left: 26%;
    margin-top: 5%;

    & img.contact_icon {
      width: 50px;
      height: 50px;
      float: left;
      border-radius: 25%;
    }

    & a.contact_link {
      margin-left: 10%;
    }
  }
}

//////////////////////////////////////////////////////////////////////

// #Media Queries ////////////////////////////////////////////////////

// @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
//   .wrapper {
//     height: 30%;
//   }
// }

// @media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
//   div#aboutContent {
//     margin-left: -12.5%;
//     width: 970px;
//     clear: both;
//   }
//   div#contactContent {
//     margin-left: -12.5%;
//     width: 970px;
//     clear: both;
//   }
//   div.h2 {
//     width: 100%;
//     float: left;
//   }
//   p.bio {
//     font-size: 2em;
//   }
//   div.skills {
//     width: 100%;
//     min-height: 1230px;
//   }
//   div.image_container {
//     width: 200px;
//     height: 200px;
//     margin-top: 5%;
//     margin-right: 11%;
//     margin-left: 11%;
//   }
//   div.button1 {
//     font-size: 90px;
//   }
//   h2 {
//     width: 100%;
//     font-size: 5em;
//     height: 60px;
//     padding-top: 20px;
//     margin-left: -13%;
//   }
//   h3 {
//     margin-top: 350px;
//     font-size: 1.8em;
//   }
//   .wrapper {
//     height: 45%;
//     /*width: 80.8%;;*/
//     width: 100%;
//     margin-left: -10%;
//   }
//   .select_but{
//     width: 10px;
//     height: 10px;
//     border-radius: 5px;
//   }
//   .select_but > div{
//     width: 6px;
//     height: 6px;
//     border-radius: 3px;
//     margin: 2px;
//   }
//   ul.info-list {
//     padding-top: 5%;
//     width: 101%;
//     height: 425px;
//   }
//   img.contact_icon {
//     width: 50px;
//     height: 50px;
//     float: left;
//     margin: 0px;
//     margin-left: -100px;
//   }
//   a.contact_link {
//     font-size: 1.5em;
//     margin-top: 10px;
//     margin-left: -10px;
//   }
//   footer {
//     font-size: 2em;
//   }
// }